table {
    text-align: left;
}

h3 {
display: inline;
    background-color: rgb(41, 66, 66);
    color: floralwhite;
}

header {
    text-align: center;
}

div {
    display: inline-table;
    width: 49.5%;
}

body{
    background-color: rgba(241, 241, 241, 0.822);
}

