table {
    text-align: left;
}

h3 {
    color: rgb(38, 53, 53);
}

header {
    text-align: center;
    background-color: rgb(38, 53, 53);
    color: linen;
}

div {
    display: inline-table;
    width: 49%;
}

body{
    font-size: 90%;
    background-color: rgb(247, 241, 235);
}

a {
    color:linen;
}

ul{
    margin-left: 2.5%;
    padding-left: 2.5%;
}

p {
    margin-left: 2.5%;
    padding-left: 2.5%;
}